:root {
    /*COLORS*/
    --backgroundDark: #141414;
    --backgroundLight: #202326;
    --text: #f5f6f7;
    --elementBackground: #3d4c5d;
    /**/

}

html, body{
    height: 100%
}

#root {
    background-color: var(--backgroundLight);
    color: var(--text);

    padding: 0px;
    height: 100%;

    background-image: url(images/sunset-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.header {
    font-size: 30px;
    background-color: var(--backgroundDark);
    margin-bottom: 80px;
}

.content {
    background-color: rgba(32, 35, 38, 0.8);

    border-radius: 5px;
    padding: 10px;
    backdrop-filter: blur(10px);
}