:root {
    /*COLORS*/
    --backgroundDark: #141414;
    --backgroundLight: #202326;
    --text: #f5f6f7;
    --elementBackground: #3d4c5d;
    /**/
}

html,
body {
    height: 100%
}

#root {

    background-color: var(--backgroundLight);
    color: var(--text);

    padding: 0px;
    height: 100%;

    /*background-image: url(assets/sunset-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;*/
}

#backgroundVid {
    min-width: 100%;
    min-height: 130%;
    position: fixed;
    bottom: -20%;
    right: 0;
    transform: translateX(calc((100% - 100vw) / 2));
}

div #header {
    font-size: 30px;
    background-color: var(--backgroundDark);
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-text {
    height: 32px;
    line-height: 32px;
}

.box-content {
    background-color: rgba(32, 35, 38, 0.8);
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    backdrop-filter: blur(10px);
}

.box-content a.block {
    display: block;

}

.display-box {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}

.box-title {
    font-size: 1.5rem;
    background-color: rgba(32, 35, 38, 1);
    padding-top: 5px;
    padding-bottom: 5px;
}

.box-subtitle {
    font-size: 1.3rem;
}

.box-subsection {
    padding: 10px;
    background-color: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(10px);
}

.box-title.top {
    border-radius: 5px 5px 0px 0px;
}

.glow-effect:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}