:root {
    /*COLORS*/
    --backgroundDark: #141414;
    --backgroundLight: #202326;
    --text: #f5f6f7;
    --elementBackground: #3d4c5d;
    /**/

}

html, body{
    height: 100%
}

#root {
    background-color: var(--backgroundLight);
    color: var(--text);

    padding: 0px;
    height: 100%;
}

.header {
    font-size: 30px;
    background-color: var(--backgroundDark);
}